
<div class="container">
        <div class="row location_container">
                <div class="col-md-3">INDIAN OFFICE</div>
                <div class="col-md-3">USA OFFICE</div>
                <div class="col-md-3">SERVICES</div>
                <div class="col-md-3">COMPANY</div>
                <div class="col-md-3">CONNECT SOCIAL</div>
        </div>
        <div class="row">
                <div class="col-md-6">© Copyright 2021 MapleLabs. All rights reserved.</div>
                <div class="col-md-6" style="text-align: right">
                        <a href="javascript:void(0)">Terms of Use</a> | 
                        <a href="javascript:void(0)">Privacy Policy</a> | 
                        <a href="javascript:void(0)">Student Agreement</a>
                </div>
        </div>
</div>