
<div class="container">
        <div class="row location_container clear">
                <div class="col-md-3 col-sm-12">
                        <div class="contact-item-inner">
                                <img src="../assets/images/location-icon_1.svg" width="24" height="30" />
                                <span><strong>INDIAN OFFICE</strong></br>
                                Kabra Excelsior, 4th, 1st Block Koramangala, Industrial Layout, Bengaluru, Karnataka 560034</span>
                        </div>
                </div>
                <div class="col-md-3 col-sm-12">
                        <div class="contact-item-inner">
                                <img src="../assets/images/location-icon_1.svg" width="24" height="30" />
                                <span><strong>USA OFFICE</strong></br>
                               1248 Reamwood Ave, Sunnyvale, CA 94089</span>
                        </div>
                         
                </div>
                <div class="col-md-3 col-sm-12">
                        <div class="footer_heading">SERVICES</div>
                        <ul class="footer_links">
                                <li>
                                        <a href="">Services Performance Engineering</a>
                                </li>
                                <li>
                                        <a href="">Dev Ops</a>
                                </li>
                                <li>
                                        <a href="">Site Reliability Engineering</a>
                                </li>
                                <li>
                                        <a href="">Implementation Services</a>
                                </li> 
                        </ul>
                </div>
                <div class="col-md-3 col-sm-12"> 
                  <div class="footer_heading">COMPANY</div>
                        <ul class="footer_links">
                                <li>
                                        <a href="">Our Products</a>
                                </li>
                                <li>
                                        <a href="">Documentation</a>
                                </li>
                                <li>
                                        <a href="">Our Services</a>
                                </li>
                                <li>
                                        <a href="">Company</a>
                                </li> 
                                 <li>
                                        <a href="">What we do?</a>
                                </li>
                        </ul>
                </div>
                <div class="col-md-3 col-sm-12">
                        <div class="footer_heading">CONNECT SOCIAL</div>
                        <div class="clear social_link">
                                <a href="#" class="mr-2">
                                        <img src="../assets/images/social-facebook.svg">
                                </a>
                                <a href="#" class="mr-2">
                                        <img src="../assets/images/social-twitter.svg">
                                </a>
                                <a href="#">
                                        <img src="../assets/images/social-youtube.svg">
                                </a>
                        </div>
                </div>
        </div>
        <div class="row copyRight pt-3 pb-3">
                <div class="col-md-6 col-sm-12">Copyright © 2021 Maple Labs All rights reserved.</div>
                <div class="col-md-6 col-sm-12" style="text-align: right">
                        <a href="javascript:void(0)">Terms of Use</a> | 
                        <a href="javascript:void(0)">Privacy Policy</a> | 
                        <a href="javascript:void(0)">Student Agreement</a>
                </div>
        </div>
</div>