@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: Poppins-Light;
    src: url(../fonts/Poppins-Light.ttf);
}


/*New Changes*/
body{
    font-family:  Poppins-Regular;
    overflow-x: hidden;
}
.navbar-collapse{
	flex-grow: inherit !important;
}
.banner_content_text{
    background: #F5F7FA;
    /* position:  relative; */
}

.banner_content_text_new {
    background: #fff;
}
.banner_content_text_new .home_banner_inner_bg,
.case_study_banner_content .home_banner_inner_bg{
        bottom: -300px;
}
 
.case_study_banner_content h4{
     font-size: 48px;
    line-height: 65px;
    color: #25373F;
    font-weight: 600;
    letter-spacing: 0.7px;
    text-align: left;
    font-family: Poppins-Light;
    padding-bottom: 15px;
}
.banner_content_text_new h4{
     font-size: 69px;
    line-height: 35px;
    color: #25373F;
    letter-spacing: 0.7px;
    text-align: left;
    font-family: Poppins-Light;
    padding-bottom: 15px;
}
.banner_content_text_new .banner_text div span,
.case_study_banner_content  h4 span{
    color: #ff5722;
    background:  unset;
    -webkit-text-fill-color: revert;
}
.banner_content_text h4  {
    font-size: 69px;
    line-height: 35px;
    color: #25373F;
    letter-spacing: 0.7px;
    text-align: left;
    font-family: Poppins-Light;
    padding-bottom: 15px;
}
.banner_text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.banner_text div{
    font-size:  54px;
    font-family: Poppins-Light;
}
.banner_text div span{
    font-size: 54px;
    font-family: Poppins-SemiBold;
    background: #1F57D0;
    background: -webkit-linear-gradient(to top, #1F57D0 0%, #019AFF 100%);
    background: -moz-linear-gradient(to top, #1F57D0 0%, #019AFF 100%);
    background: linear-gradient(to top, #1F57D0 0%, #019AFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.location_container{
    padding: 75px 0px;
}

.location_container .col-md-3{
    max-width: 20%;
}
li.active > a{
    color: #007bff !important;
}
.section_heading{
    font-size:  40px;
    color:  #222222;
    text-align:  center;
    font-family: Poppins-Light;
    padding:  50px 0px;
}
.section_case_heading{
     font-size:  40px;
    color:  #222222;
    text-align:  center;
    font-family: Poppins-Light;
    padding: 0px 0px 50px 0px;
}
.section_title{
    font-size:  48px;
    color:  #222222; 
    font-family: 'Poppins-SemiBold';
    line-height: 62px;
    padding:  20px 0px;
}
.subscribe_Section{
    padding-bottom: 120px;
    padding-top: 175px;
    border-bottom: 1px solid #E6E6E6;
}
.sectionPadding{
    padding: 60px 0px 90px 0px;
    position: relative;
}
p{
    font-size:  18px;
     font-family: Poppins-Light;
    color:  #252930;
}
nav.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}
#navbarNav .new_header li:last-child a{
    width: 151px;
    height: 50px;  
    background: #f2f6fb !important;
    border-radius: 6px;
    color: #333 !important;
    text-align: center; 
}
.navbar-nav li:last-child a{
    width: 151px;
    height: 50px;  
    background: linear-gradient(180deg, #019AFF 0%, #1F57D0 100%);
    border-radius: 6px;
    color: #fff !important;
    text-align: center; 
}
.header_icon{
   position: absolute;
    bottom: 23%;
    left: -15%;
}
.navbar-light .navbar-nav .nav-link { 
    line-height: 30px;
    padding: 10px 20px;
    color:  unset;
    font-size: 14px;
}
.marTop25{
    margin-top: 25px;
}
.marTop40{
    margin-top: 40px;
}
.navbar-light .navbar-nav li:last-child .nav-link{
    margin-left:  20px;
} 
.casestudy_panel{
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 7px 19px 22px 4px rgba(240, 241, 245, 0.8);
    border-radius: 12px;
}
.casestudy_panel img{
    border-radius:  12px 12px 0px 0px;
    width: 100%;
}
.study_panel_inner{
    padding:  20px 20px 40px 20px;
    height: 150px;
}
.contact-item-inner {
    margin-bottom: 10px;
    clear: both;
    display: flex;
    overflow: hidden;
    font-size: 14px;
}
.contact-item-inner img{
    margin-right: 15px;
}
.contact-item-inner span{
    color: #8F8F8F;
}
.contact-item-inner strong{
    margin-bottom: -10px;
    display: block;
    color: #333;
    font-family: Poppins-SemiBold;
}
.footer_heading{
    margin-bottom: 10px; 
    font-family: Poppins-SemiBold;
}
.footer_links{
    padding:  0px;
    margin:  0px;
    opacity: 0.8;
}
.footer_links li{
    list-style-type: none;
    padding-bottom: 5px;
}
.footer_links li a{
    color:  #363636;
    font-size:  14px;
}
.clippath {
   background: url('../../assets/images/header_curve.png') no-repeat;
    position: absolute;
    /* bottom: 34%; */
    top: 0px;
    width: 100%;
    z-index: 9;
    padding:  20px;
}
.clear{
    clear: both;
}
.social_link a{
    text-decoration: none;
}
.copyRight a{
    color: #828282;
}
.subscript_position{
    margin-left: 15%;
   /*  position: relative;
    left: 50%;
    transform: translateX(-35%); */
}
.sectionPadding img{
    /* width:  100%; */
}
.sectionPadding a img{
    width:  unset !important;
}
.case_sectionPadding h1{
    font-weight: 600;
    font-size: 32px;
}
.home_banner_bg{
    background: #F5F7FA ;
    padding: 30px 0px 125px 0px;
    position:  relative;
    /* top: 65px; */
}
.home_banner_bg_new{
    background:  #fff;
}
.case_study_banner{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f1f8ff+0,ffffff+100 */
background: #f1f8ff; /* Old browsers */
background: -moz-linear-gradient(top,  #f1f8ff 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f1f8ff 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f1f8ff 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f8ff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
.home_banner_inner_bg{
    position: absolute;
    bottom: -15px;
    margin-left: -115px;
}
.home_inner_container_bg{
    background: #F5F7FA url(../../assets/images/section-1-effect-below-text.svg) 0px 0px no-repeat;
}
.home_section_leftbg{
    /* background: url(../../assets/images/section-1-effect-below-text.svg) 0px 0px no-repeat; */
    /* padding: 30px 0px 125px 0px */
    position: absolute;
    bottom: 30px;
    left: -10%;
    z-index: -1;
}
.home_section_leftbg_new{
    position: absolute;
    bottom: -20px;
    left: -10%;
    z-index: -1;
}
.home_section_rightbg{
   /*  background: url(../../assets/images/section-2-effect-below-text.svg) right 0px no-repeat;
    padding: 30px 0px 125px 0px */
     position: absolute;
    bottom: 50px;
    right: -10%;
    z-index: -1;
}
.bg-light {
    background-color: #f5f7fa !important;
}
.bg-light.active,
.new_header_banner.active{
    background-color: #fff !important;
    box-shadow: -1px 1px 12px #f7f7f7;
}
.width_unset{
    width: unset !important;
}
.casestudy_top_bg{
    position: absolute;
    left: -10%;
    top: -35px;
    z-index:  -1;
}
.positionReleative{
    position:  relative;
}
.subscribe_button_new{
    background: #ff5722;
    color:  #fff;
    border: 1px solid #ff5722;
}
.subscribe_bg{
    position: absolute;
    z-index: -1;
    left: -9.5%;
    top: -128px;
}
.opacity_bg_left{
     position: absolute;
    z-index: -1;
    top: 9px;
    left: 33%;
    filter: blur(130px);
}
.opacity_bg_right{
     position: absolute;
    z-index: -1;
    top: 15px;
    left: -7px;
    filter: blur(130px);
}
#myList li{
    display:none;
}
.navbar-light .navbar-toggler
    {
        padding:  0px !important;
        color:  none !important;
        border-color: transparent !important;
    }
.new_header_banner{
    background:transparent
}
.case_study_text{
    color: #5CC788;
    font-size: 16px !important;
}
.download_btn{
   padding: 8px 20px;
    border: 1px solid #FF5722;
    background: #fff;
    font-family: Poppins-SemiBold;
    box-shadow: 0px 8px 20px rgb(228 210 205 / 40%);
    border-radius: 6px;
    color: #FF5722;
    font-size: 16px !important;
    position: relative;
    z-index: 10;
}
.download_btn img,
.download_btn_blue img{
    position: relative;
    top: -2px;
    margin-right: 7px;
}
.download_btn_blue{
    padding: 8px 20px;
    background: #019AFF;
background: -webkit-linear-gradient(to right, #019AFF 0%, #1F57D0 100%);
background: -moz-linear-gradient(to right, #019AFF 0%, #1F57D0 100%);
background: linear-gradient(to right, #019AFF 0%, #1F57D0 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    border: 1px solid #019AFF;
    /* background: #fff; */
    font-family: Poppins-SemiBold;
    box-shadow: 0px 8px 20px rgb(228 210 205 / 40%);
    border-radius: 6px;
    color: #019AFF;
    font-size: 16px !important;
    position: relative;
    z-index: 10;
}
.case_study_padding{
        padding: 150px 0px 50px 0px;
}
.challing_Section{
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(201, 211, 226, 0.4); 
}
.list_item{
    padding:  45px 0px 0px 0px;
}
.list_item li{
    list-style-type:  disc;
    margin-bottom:  10px;
    font-size:  16px;
    color: #444444;
}
.img_list{
    padding:  0px 0px 0px 30px;
}
.img_list li{
   list-style-image: url('../../assets/images/tick-orange.svg');
    margin-bottom:  15px;
    font-size:  16px;
    color: #444444;
}
.img_list li span{
    position: relative;
    top: -5px;
    left:  10px;
}
.green_tick li{
     list-style-image: url('../../assets/images/tick-green.svg') !important;
}
.blue_tick li{
     list-style-image: url('../../assets/images/tick_blue.svg') !important;
}
.alter_row{
    background:  #f3f4f6;
    padding:  40px 0px;
}
.text-center{
    text-align: center;
}
.value_delivery .col-md-3{
    text-align:  center;
        padding: 20px 0px;
}
.value_delivery .col-md-3 h5{
    font-size:  16px;
    padding:  20px 0px;
}
.value_delivery .col-md-3 p{
    font-size:  16px;
}
.value_delivery .col-md-3:hover{
    box-shadow: 0px 0px 50px rgba(201, 211, 226, 0.4);
}
.case_sizing_section .col-md-6:first-child img{
    width: 100%;
}
.case_sizing_section h4{
    font-size: 40px;
    line-height: 50px;
    color: #222222;
    font-weight:  normal;
}
.case_sizing_section .knowMore a{
    color:  #FF5722;
    font-size: 16px;
}
.knowMore_blue a{
    color:  #1F57D0;
    font-size: 16px;
}
.casestudy_btn{
    background: #333333;
    color:  #fff;
    border:  0px;
    padding:  5px 10px;
}
/* .case_sizing_section .col-md-6:last-child{
    background:  #fff;
} */
.brdTop{
    border-top: 1px solid #ddd
}
.brdBottom{
    border-bottom: 1px solid #ddd
}
.wid100{
    width: 100%;
}
.tabContainer{
    padding-top:  160px;
}
.tab_list{
    padding:  0px 0px;
    margin:  0px;
    position: sticky;
    top:100px;
}
.tab_list li{
    list-style-type: none;
    padding-bottom: 10px;
    line-height:  30px;
}
.tab_list li a{
    font-size:  16px;
    color:  #AAAAAA;
}
.tab_list li a.active{
    font-weight:  600;
    color: #444;
}
.divide_tabs{
    padding-bottom:  50px;
}
.sizing_container{
    background: #f3f9fe url('../../assets/images/challange-illustration.svg') 100% bottom no-repeat;
    border-radius: 0px 50px 0px 0px;
    padding: 25px 30px;
    font-size:  16px;
}
.sizing_container p{
    font-size:  16px;
}
.sizing_container ul {
    padding:  0px 40px;
    font-size:  16px;
}
.sizing_container ul li{
    padding-bottom:  1px;
}
.sizing_content {
    width:  80%;
}
.track_record{
    border: 2px solid #F2FAFF;
    padding:  25px 30px;
}
.track_record  .col-md-6{
    color:  #444444;
    padding-top: 15px;
}
.track_record  .col-md-3 h4{
    color:  #5CC788;
    font-weight: 600;
    font-size: 22px;
}
.track_record  .col-md-3 div{
    font-size:  13px;
    color: #444444;
}
.divide_tabs p{
    font-size:  16px;
    color:  #444;
}
.divide_tabs h5{
    font-size: 18px;
}
.caseStidy_blue_button{
    background: #f0f8fe;
    color:  #1F57D0;
    font-size: 12px;
    border: 0px;
    padding: 5px 10px;
}

.case_study_bg_img{
    background: #fff url('../../assets/images/design-elements.svg') 100% -51px no-repeat; 
    padding:  75px 50px;
}









@media screen and (max-width: 767px) and (min-width: 320px) {
    .casestudy_panel img,
    .casestudy_top_bg img,
    .sectionPadding .col-md-6 img,
    .banner_content_text .col-md-6 img,
    .banner_content_text_new .col-md-6 img,
    .case_study_banner .col-md-6 img{
        width: 100%;
    }
    .casestudy_panel{
        margin-bottom: 15px;
    } 
    .casestudy_panel img{
        height:  auto;
    }
    .home_section_rightbg{
        right:  0px;
        bottom:  -50px;
    }
    .subscribe_Section {
        padding-bottom: 100px;
        padding-top: 100px;
    }
    .location_container .col-md-3 {
     max-width: 50%;
    } 
    .banner_text{
        text-align: center;
        top: 70%;
    }
    .banner_content_text h4,
    .banner_content_text_new h4{
        font-size: 43px;
        text-align:  center;
    }
    .banner_text div {
        font-size: 31px;
    }
    .banner_text div span {
        font-size: 30px;
    }
    .subscript_position{
        margin-left:  0px;
    }
   .subscript_position input[type='email']{
        width:  280px !important;
    }
    .location_container .col-sm-5:nth-child(3),
    .location_container .col-sm-4,
    .location_container .col-sm-3 {
        padding-left: 52px;
    }
    .study_panel_inner{
        height:  auto;
    }
    .copyRight .col-sm-12{ 
        text-align:  center !important;
    }
    form.validate{
        clear: both;
    }
    #mc_embed_signup_scroll{
        display: flex;
    }
    .home_section_leftbg{
        left:  -37%;
    }
}
@media screen and (max-width: 1200px) and (min-width: 768px)
{
    .casestudy_top_bg { 
        top: 50px;
    }
    .casestudy_panel img,
    .casestudy_top_bg img,
    .sectionPadding .col-md-6 img,
    .banner_content_text .col-md-6 img,
    .banner_content_text_new .col-md-6 img,
    .case_study_banner .col-md-6 img,
    .casestudy_top_bg img{
        width:  100%;
    }
    .home_section_rightbg{
        right: 0px;
    }
    
}