<!DOCTYPE html>

<html>
<head>
	<title>Maplelabs</title>
	<meta name="description" content="{{page.meta}}" title='{{page.title}}'>
 	<link rel="shortcut icon" type="image/png" href='../assets/images/favicon.png' />

</head>
	<body> 
		
		{% include header.html %}
		<section>
			<div class="clear" style="padding-top: 65px"> 
				{{content}}
			</div>
		</section>

		<!-- 
			include header_new.html 
			{% include footer_new.html %} -->


		{% include footer.html %}

		{% include script.html %}

	 
	</body>
</html>