<!DOCTYPE html>

<html>
<head>
	<title>Maplelabs</title>
	<meta name="description" content="{{page.meta}}" title='{{page.title}}'>
 	<link rel="shortcut icon" type="image/png" href='../assets/images/favicon.png' />

</head>
	<body>   
		 
		 
		{% if page.url == '/pages/home.html' %}
			{% include header.html %}
		
		{% else %}
			{% include header_new.html %}
		{% endif %}
		<section>
			<div class="clear"> 
				{{content}}
			</div>
		</section>

		<!-- 
			include header_new.html 
			{% include footer_new.html %} -->
			{% if page.url == '/pages/home.html' %}
			{% include footer.html %}
		
		{% else %}
			{% include footer_new.html %}
		{% endif %}
 

		{% include script.html %}

	 
	</body>
</html>